(
	open_workspace: "Ctrl+O",
	save: "Ctrl+S",
	save_as: "Ctrl+Shift+S",
	undo: "Ctrl+Z",
	redo: "Ctrl+Shift+Z",
	zoom_in: "Ctrl+=",
	zoom_out: "Ctrl+-",
	plain_view: "Ctrl+3",
	processed_view: "Ctrl+2",
	processed_raw_current_line_view: "Ctrl+1",
	split_view: "Ctrl+4",
	toggle_explorer: "Space+E",
	toggle_top_menu: "Mod+B",
)
