(
	workspace_sidebar_visible: true,
	top_menu_collapsed: false,
	right_buttons_visible: true,
	status_line_visible: false,
	processed_link_color_mode: "colored",
	processed_paginated: false,
	formatting_marks_visible: false,
	application_zoom: 1.800,
)
