(
	open_workspace: "Mod+O",
	save: "Mod+S",
	save_as: "Mod+Shift+S",
	undo: "Mod+Z",
	redo: "Mod+Shift+Z",
	zoom_in: "Mod+=",
	zoom_out: "Mod+-",
	plain_view: "Mod+3",
	processed_view: "Mod+2",
	processed_raw_current_line_view: "Mod+1",
	toggle_explorer: "Mod+E",
	toggle_top_menu: "Mod+B",
)
